*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
*::-webkit-scrollbar{
  width: 10px;
  background:rgb(36, 36, 36);
  margin-left:-10px;  

}
*::-webkit-scrollbar-thumb {
  background-color: rgb(2, 132, 245);
  border-radius: 20px;

}

body{
    background-color: #0080FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%230080FF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%230f78f0' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%231771e2' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%231b69d3' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%231e62c5' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%231f5bb7' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%232054aa' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23204d9c' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%231f468f' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%231e3f82' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%231c3875' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%231a3269' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23182c5c' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23162550' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23131f45' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23101a39' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%230d142e' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%230A0C24' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    background-repeat: no-repeat;
   
    overflow-x: hidden;
    
}

.heade{
    width:100vw;
    height:auto;
    display: flex;
    justify-content: center;
    transition: all 0.4s;

    
}
.heade .navigator{
    width:80%;
    height:100%;
    background-color:#0A0C24;
    backdrop-filter: blur(80px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(2, 132, 245);
    border-top:none;
    flex-wrap: wrap;
    transition: all 0.4s;
    box-shadow: 0px 2px px rgb(33, 255, 225);
}
.navigator ul{
    display: flex;
    
    list-style: none;
    justify-content: space-around;
    
    width: 65%;

}
.navigator ul li{

    font-size:25px;
    color:white;
    cursor:pointer;
    transition:all 0.2s;
    margin-top: 20px;
    

}
.navigator ul li a{
  text-decoration:none;
  color:white;
  display: flex;
}
.navigator ul li a:hover{
  color:rgb(2, 132, 245);

}
.navigator ul li a ion-icon{
  margin-right:5px;
  font-size:30px;
}
.navigator .logo{
    width: 25%;
    padding-left:15px ;
   

    border-radius: 20px;
  
}
.logo h2{
  color: rgb(2, 132, 245);
  font-size:45px;
  text-shadow: 0px 3px 5px rgb(32, 84, 255);
}
.logo h3{
  color: rgb(255, 255, 255);
  font-size:37px;
  margin-left: 20px;
  text-shadow: 0px 3px 5px rgb(150, 150, 150);

}
.navigator .logo-login{
    font-size: 75px;
    color: rgb(2, 132, 245);
    cursor: pointer;
    transition: all 0.3s
    

}
.navigator .img-login{
  width: 75px;
  height: 75px;
  border-radius:50%;
  display:none;
}
.navigator .logo-login:hover{
  color:white;
}
.navigator .container-menu-sesion{
  width:100%;
  height:0px;
  display: flex;
  justify-content:space-around;
  transform: scale(0);
  transition: all 0.4s;
  align-items: center;
  

}
.navigator .container-menu-sesion ul {
  width:100%;
  display: none;
  font-size: 22px;;
}
.navigator .container-menu-sesion ul li{
  display: flex;
  height:50px;
  
  
}

.navigator .container-menu-sesion ul li ion-icon{
  font-size:25px;
  margin-right:6px;
  color:white;
  margin-top: 5px;
  
}

.navigator .container-menu-sesion ul li:hover{
  color:rgb(2, 132, 245);
  transition: all 0.3s
}
.navigator .container-menu-sesion ul li:hover ion-icon{
  color:rgb(2, 132, 245);
  transition: all 0.3s

}

.navigator:hover .container-menu-sesion{
  height:70px;
  transform: scale(1);
  
  
}
.btn-wsp{
  position:fixed;
  background:rgb(34, 252, 81);
  padding:5px;
  font-size:25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  bottom:0;
  right:0px;
  color:white;
  text-align:center;

}
.btn-wsp:hover{
  background:rgb(51, 235, 91);

}




.section{
    width:80vw;
    height: auto;
    margin: 0px auto;
    padding:25px;
    
    /* background:rgba(35, 35, 35, 0.205); */
    
    
    
}
.title{
    text-align: center;
    font-size:50px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 10px rgb(46, 189, 255),
    0px 1px 14px rgb(55, 160, 230),
    0px 1px 16px rgb(215, 219, 255);
    margin-top: 50px;
    margin-bottom: 20px;

}
.container-search{
    margin:20px auto;
    width:80%;
    height:45px;
    display: flex;
    justify-content:space-around;
    

}
.container-search input{
    width:60%;
    border-radius: 10px;;
    font-size:28px;
    border:none;
    outline:none;
    padding-left:8px;
    
    
}
.container-search button{
    width: 15%;
    border-radius: 10px;;
    background-color: rgb(42, 149, 250);
    border: none;
    font-size:20px;
    font-weight: bold;
    cursor:pointer;


}
.container-search button:hover{
  background-color: rgb(4, 104, 197);

}
.container-events{
  width: 100%;
  height: auto;
  max-height: 640px;
  padding:10px 45px 10px 45px ;
  border-radius: 5px;
  overflow:auto;
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.671);
}
.container-events::-webkit-scrollbar{
  width: 10px;
  background:rgba(0, 0, 0, 0);
  margin-left:-10px;  
}
.container-events::-webkit-scrollbar-thumb {
  
  border-radius: 20px;

}
.event{
  height: auto;
  max-height: 420px;
  width: 100%;
  margin: 10px auto;
  border-radius: 20px;
  
  display: flex;
  background-color:#ffffff;
  flex-wrap: wrap;
 
  
  

}
.img-event{
  width:38% ;
  max-width: 100%;
  min-height: 200px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.info-event{
  width: 62%;
  height: 100%;
  min-height: 300px;
  padding:20px;
  
}
.title_event{
  width: 100%;
  display: flex;

}
.title_event .close-event{
  font-size:35px;
  margin-left: 40%;
  cursor: pointer;
  display:none
}
.info-event h2{
  font-size: 30px;
  color:rgb(2, 132, 245);
  
}
.info-event p{
  margin:10px 0px;
  color: rgb(48, 48, 48);
  font-size: 16px;
  font-weight:40%;
  max-width:90%;
  width:auto;


}
.info-event .description-event{
  
  border-top:1px solid;

}
.info-event .btn-event{
  position: relative;
  float:right; 
  width: 30%;
  height: 50px;
  border-radius: 13px;;
  border: none;
  font-size: 16px;
  transition: all 0.1s;
  cursor: pointer;
  background-color: rgb(29, 32, 243);
  
}
.info-event button:hover{
  background-color: rgb(0, 0, 0);
  color: azure;
  
}
.container-buy-ticket{
  width: 100%;
  height: 0px;
  display:flex;
  overflow: hidden;

}

.container-buy-ticket .ticket_quality{
  width:22%;
  height:auto;
}
.container-buy-ticket .ticket_quantity{
  width:22%;
  height:auto;
}
.container-buy-ticket .ticket_quantity input{
  width:40%;
  padding-left: 5px;

}
.container-buy-ticket .ticket_price{
  width:22%;
  height:auto;
 
}
.container-buy-ticket .total_price{
  width:22%;
  height:auto;
  
}
.container-buy-ticket .btn-buy{
  width:10%;
  height:auto;
  display: flex;
  align-items: center;
  justify-content:center;
  
  
}
.container-buy-ticket .btn-buy button{
  border: none;
  border-radius:8px;
  font-size:25px;
  padding: 5px;
  background-color:greenyellow;
}
.container-buy-ticket .btn-buy button:hover{
  background-color:rgb(144, 221, 29);

}

 #true{
  width:100%;
  max-height: auto;

}
#true .info-event button{
  display: none;
}
#true .img-event{
  border-bottom-left-radius: 0px;
}
#true .container-buy-ticket{
  height: auto;
  min-height: 140px;;
  padding:20px;
} 
.container-classes{
  width: 100%;
  height: auto;
  
  padding:20px 10px 20px 10px ;
  border-radius: 5px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.76);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width: 30%;
  height:auto;
  text-align: center;
  margin-top:20px;
  transition: all 0.4s 
}
.item:hover{
  transform: scale(1.1);
}
.item img{
  border-radius: 10px;
  width:300px;
  height:200px;
  
}
.item h3{
  font-size:22px;
  color:rgb(2, 132, 245);
  margin-top:18px;
}
.item p{
  width: 60%;
  margin: 5px auto;
  color:white;
  font-size: 16px;
}
footer .info-footer{
  width:300px;
  margin: 20px auto 0px;
  color:white;
  font-size:20px;
  
}


